


.contanet-country{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    color: white;
    padding-bottom: 500px;
}

.countries__list{
    list-style: none;
    margin-left: -40px;
}
.countries__list span{
    font-weight: 900;
}
.lenglist{
    list-style: solid;
}

img{
    width: 50px;
}
input{
    width: 200px;
    height: 30px;
    border: none;
}

