
#gallery {
    display: flex;
    justify-content: space-between;
}

ul#gallery > li{
    width: 200px;
    height: 120px;
    border: 1px solid black;
    list-style: none;
} 
 

#validation-input {
    border: 3px solid #bdbdbd;
  }
  
#validation-input.valid {
    border-color: #4caf50;
  }
  
#validation-input.invalid {
    border-color: #f44336;
  }
